
.depicter-revert .depicter-1-section-7 .depicter-section-background{
	background-color:#FFF;
}
.depicter-revert .depicter-1-section-9 .depicter-section-background{
	background-color:#FFF;
}
.depicter-revert .depicter-1-section-11 .depicter-section-background{
	background-color:#FFF;
}

